/* =========================
SURVEY
========================= */

.survey-card{
    text-align:center;
    padding:40px;
}

.survey-card h2{
    font-size:36px;
    margin-bottom:25px;
}

.survey-text{
    max-width:700px;
    margin:0 auto 20px;
    text-align:center;
    color:#64748b;
    line-height:1.9;
    font-size:16px;
}

.survey-card .btn{
    display:inline-block;
    margin-top:15px;
}